<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>To Do List</title>
</head>
<body>
	<h1>Welcome to To Do List</h1>
	
	<p><a href="/catagories">Click here</a> to see all the catagories</p>
	<p><a href="/tasks">Click here</a> to see all the tasks and to add</p>
</body>
</html>